/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

/* Theme Colors */
$primary-color: #f5f5f5;
$primary-orange: #e85d04;
$primary-shadow: rgba(0, 0, 0, 0.1);
$primary-bg-footer: #343a40;
