.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	background-color: #574672;
	transition: background-color 1.3s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}

.hero-btn:hover {
	background-color: #d35400;
}
