.hero-container {
	overflow: hidden;
	position: relative;
	max-height: 500px;
	/*Validation fix bg-color black*/
	background-color: black;

	img {
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease; /* Add a smooth transition */
		object-fit: cover;
		opacity: 0.9;
	}
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	background-color: #574672;
	transition: background-color 1.3s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}

.hero-btn:hover {
	background-color: #d35400;
}
