.metabox {
	background-color: #c24e00;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
	top: 0;
	transform: translateY(-50%);

	a {
		text-decoration: none;
	}

	p {
		margin: 0;
		font-size: 0.9rem;
		color: white;
	}

	.metabox-blog-home-link {
		background-color: #343a40;
		color: #fff;
		display: inline-block;
		padding: 10px 15px;
		border-radius: 3px 0 0 3px;
	}
}

.metabox-main {
	padding: 10px 15px 10px 11px;
}

.metabox .metabox-blog-home-link:hover {
	text-decoration: none;
	background-color: #574672;
	transition: background-color 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0s;
	text-decoration: underline;
}
