/* ID - Page container (div)*/
#page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
}

/* logotype img in navbar*/
.navbar-brand img {
	width: 75px;
	height: 75px;
}
