/*--------------------------------------------------------------
# Footer Container
--------------------------------------------------------------*/
.site-footer {
	background-color: #f5f5f5;
	margin-top: auto;
	/* Headings*/
	h2,
	h3 {
		font-size: 1.3rem;
	}
	/*Un-ordered list*/
	ul {
		list-style: none;
		padding-left: 0;
	}

	/*Links*/
	li a {
		color: $secondary;
		text-decoration: none;
		transition: var(--main-transition);
	}
	li a:hover {
		color: black;
		text-decoration: underline;
	}
}

.navbar-brand img {
	width: 75px;
	height: 75px;
}
